[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=HotCorner
Name[zh_TW]=HotCorner
Comment=HotCorner
Comment[zh_TW]=HotCorner
Icon=xfce4-display
X-XFCE-Internal=FALSE
X-XFCE-Module=hotcorner
