[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=HotCorner
Name[zh_TW]=螢幕熱點
Comment=Allow users to set AfterDark-like hot corner actions
Comment[zh_TW]=螢幕熱點
Icon=org.xfce.settings.display
X-XFCE-API=2.0
X-XFCE-Module=hotcorner
X-XFCE-Unique=true
X-XFCE-Module-Path=/usr/share/xfce4/panel/plugins/
